*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  background: #fff;
}

body {
  font-family: $font-family;
  line-height: $line-height;
  font-weight: 400;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: $brand-primary;
  cursor: pointer;
  text-decoration: none;
  transition: color .2s $bezier;

  &:focus,
  &:hover {
    text-decoration: underline;
    color: #fff;
  }
}

img.img {
  width: auto;
  display: inline-block;
}

img {
  width: 100%;
  display: block;
  margin: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: rgba(#fff, .15);
  margin: $s-lg 0;
  clear: both;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
